{% extends 'side_bar.html' %}
{% load static %}
{% block content %}

<style>
   a:link {
  text-decoration: none;
}

a{
    color: black;
}
</style>


<div>
    <h3>Conatcts</h3>
</div>
<div class="m-3">
    <a href="{% url 'contact' %}"><button class="btn btn-primary">Create</button></a>
</div>
<div class="col-md-12">
    <div class="row">

        {% for i in data %}
        <a href="{% url 'contact_edit' %}?id={{i.id}}">
            <div class="card mt-2 m-2" style="width: 22rem;display: flex; flex-direction: row;">

                <div>
                    {% if i.individual_image %}
                    <img src="{{i.individual_image.url}}" alt="Card image cap" height="100" width="100">
                    {% else %}
                    {% if i.cmp_title == none %}
                    <img src="/static/assets/images/person.png" alt="Card image cap" height="100" width="100">
                    {% else %}
                    {% if i.company_image %}
                    <img src="{{i.company_image.url}}" alt="Card image cap" height="100" width="100">
                    {% else %}
                    <img src="/static/assets/images/company1.jpg" alt="Card image cap" height="100" width="100">
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
                <div>
                    {% if i.cmp_title == none %}
                        <p class="card-text font-weight-bold ml-3 m-1">{{i.company_name}}, {{i.name}}</p>
                    {% if i.job_position == '' %}
                        <p class="card-text ml-3 m-1 ">{{i.job_position|default:""}} {{i.company_name|default:""}}</p>
                    {% else %}
                        <p class="card-text ml-3 m-1 ">{{i.job_position}} at {{i.company_name|default:""}}</p>
                    {% endif %}
                    <p class="card-text ml-3 m-1 ">{{i.city|default:""}}  {{i.country|default:""}}</p>
                    <p class="card-text ml-3 m-1 ">{{i.email|default:""}}</p>
                    <p class="card-text ml-3 m-1 ">{{i.tags|default:""}}</p>
                    {% else %}
                    <p class="card-text font-weight-bold ml-3 m-1">{{i.cmp_title}}</p>
                    <p class="card-text ml-3 m-1 ">{{i.cmp_city|default:""}} {{i.cmp_country|default:""}}</p>
                    <p class="card-text ml-3 m-1 ">{{i.cmp_email|default:""}}</p>
                    <p class="card-text ml-3 m-1 ">{{i.cmp_tags|default:""}}</p>
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}

    </div>
</div>



{% endblock %}