{% extends 'side_bar.html' %}
{% load static %}
{% block content %}
{{data}}
<section class="contet col-md-8">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2> Contact Details
                    <small class="text-muted"> Welcome to Nable CRM </small>
                </h2>
            </div>

        </div>
    </div>
    <div class="container-fluid">
        <!-- Input -->

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        {% if error %}
                        <h5 style="text-align:center; color:darkorchid"> {{error}}</h5>
                        {% endif %}
                    </div>
                    <div class="body">
                        <h2 class="card-inside-title"> Contact </h2>
                        <div class="row clearfix">
                            <div class="col-sm-6">
                                <!-- input form started-->
                                <form action="{% url 'save_contact'%}" method="post" enctype="multipart/form-data"
                                    autocomplete="off">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="form-line" style="display:inline-flex">

                                            <input type="radio" id="html" name="user_type" value="indivisual" checked
                                                onclick="show()">
                                            <label for="html" class="mr-4">Individual </label><br>
                                            <input type="radio" id="css" name="user_type" value="company"
                                                onclick="return hide()">
                                            <label for="css"> Company </label><br>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <div class="form-line" style="display:inline-flex">
                                            <input type="text" class="form-control" placeholder="e.g. Branom Freeman *"
                                                name="name" required />
                                        </div>

                                        <div class="form-line" id="company" style="display:inline-flex">
                                            <div class="form-group mb-0">
                                                <select name='company_name' class="form-control" id="comp">
                                                    <option> Select Company </option>
                                                    {% for i in data1 %}
                                                    <option value="{{i.id}}"> {{i.title}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <h2 class="card-inside-title">Address</h2>
                                    <div style="display:inline-flex">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="street1"
                                                        placeholder="Street 1" name="address_street_1" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" placeholder="Street 2"
                                                        id="street2" name="address_street_2" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="display:inline-flex">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="city" placeholder="City"
                                                        name="city" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="state"
                                                        placeholder="State" name="state" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="zip_code"
                                                        placeholder="ZIP" name="zip_code" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group form-group-lg">
                                            <div class="form-line">
                                                <input type="text" class="form-control" id="country"
                                                    placeholder="Country" name="country" />
                                            </div>
                                        </div>
                                    </div>
                                    <h2 class="card-inside-title">TAX ID</h2>
                                    <div class="col-sm-12">
                                        <div class="form-group form-group-lg">
                                            <div class="form-line">
                                                <input type="text" class="form-control" id="tax_id"
                                                    placeholder="e.g. BE0477472701" name="tax_id" />
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="row clearfix col-sm-6">

                                <div id="job_position" class="col-lg-4 col-md-2 col-sm-6 col-xs-5 form-control-label">
                                    <label for="email_address_2" style="font-weight:bold">Job Postion :</label>
                                </div>
                                <div id="job" class="col-lg-8 col-md-6 col-sm-4 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="e.g. Sales Derector"
                                                name="job_position">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-2 col-sm-6 col-xs-5 form-control-label">
                                    <label for="email_address_2" style="font-weight:bold"> Phone :</label>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-4 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" id="phone" name="phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-2 col-sm-6 col-xs-5 form-control-label">
                                    <label for="email_address_2" style="font-weight:bold">Mobile :</label>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-4 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="tel" class="form-control" id="mobile" name="mobile">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-2 col-sm-6 col-xs-5 form-control-label">
                                    <label for="email_address_2" style="font-weight:bold">Email :</label>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-4 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="email" class="form-control" id="email" name="email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-2 col-sm-6 col-xs-5 form-control-label">
                                    <label for="email_address_2" style="font-weight:bold">Website :</label>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-4 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="url" class="form-control"
                                                placeholder="e.g. https://www.odoo.com" id="website" name="website">
                                        </div>
                                    </div>
                                </div>
                                <div id="title" class="col-lg-4 col-md-2 col-sm-6 col-xs-5 form-control-label">
                                    <label for="email_address_2" style="font-weight:bold">Title :</label>
                                </div>
                                <div id="title1" class="col-lg-8 col-md-6 col-sm-4 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="e.g. Mister"
                                                name="title">
                                        </div>
                                    </div>
                                </div>
                                <div id="title" class="col-lg-4 col-md-2 col-sm-6 col-xs-5 form-control-label">
                                    <label for="email_address_2" style="font-weight:bold">Tags :</label>
                                </div>
                                <div id="title1" class="col-lg-8 col-md-6 col-sm-4 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" placeholder="" id="tags"
                                                name="tags">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-2 col-sm-6 col-xs-5 form-control-label">
                                    <label for="email_address_2" style="font-weight:bold"> Image :</label>
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-4 col-xs-7">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="file" class="form-control" id="image" name="image">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-outline-primary">Save</button> &nbsp;&nbsp;&nbsp;&nbsp;
                            </form>
                            <a href="{% url 'contact' %}">
                                <button type="cancel" class="btn btn-outline-primary"
                                    onclick="return confirm('Are You Sure to Discard')">Discard</button>
                            </a>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                        <script type="text/javascript">
                            function hide() {
                                document.getElementById('company').style.display = 'none';
                                document.getElementById('job_position').style.display = 'none';
                                document.getElementById('title').style.display = 'none';
                                document.getElementById('job').style.display = 'none';
                                document.getElementById('title1').style.display = 'none';
                                document.getElementById('street1').value = "";
                                document.getElementById('street2').value = "";
                                document.getElementById('city').value = "";
                                document.getElementById('state').value = "";
                                document.getElementById('country').value = "";
                                document.getElementById('zip_code').value = "";
                                document.getElementById('tax_id').value = "";

                            }
                            function show() {
                                document.getElementById('company').style.display = 'block';
                                document.getElementById('job_position').style.display = 'block';
                                document.getElementById('title').style.display = 'block';
                                document.getElementById('job').style.display = 'block';
                                document.getElementById('title1').style.display = 'block';

                            }


                            let source = document.querySelector('#comp');
                            let target = document.querySelector('#comp1');
                            source.addEventListener('change', function () {
                                // target.textContent = this.value;
                                value_1 = this.value
                                console.log("VALUE", value_1)
                                $.ajax({
                                    url: "http://127.0.0.1:8000/get_comp_details/",
                                    method: "GET",
                                    data: { value_1: value_1 },
                                    dataType: "json",
                                })
                                    .done(function (data) {

                                        $('#street1').val(data.address_street_1);
                                        $('#street2').val(data.address_street_2);
                                        $('#city').val(data.city);
                                        $('#state').val(data.state);
                                        $('#country').val(data.country);
                                        $('#zip_code').val(data.zip_code);
                                        $('#tax_id').val(data.tax_id);
                                    });
                            });
                        </script>
                    </div>
</section>


{% endblock %}