{% extends 'side_bar1.html' %}
{% load static %}
{% block content %}
<section class="content col-md-10">
    <div class="col-lg-7 col-md-6 col-sm-12">
        <h2 style="padding-top: 1rem;"> Contact Details
            <div> <small class="text-muted"> Welcome to Nable CRM </small> </div>
            
        </h2>
        <table cellpadding="5" cellspacing="5" width="100%">
            <tr>
                <th> <input class="form-control form-control-sm" type="text" placeholder="name" aria-label=".form-control-sm example"> </th>
                <th> <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example"> </th>
            </tr>
            <tr>
                <th> <input class="form-control form-control-sm" type="text" placeholder="name" aria-label=".form-control-sm example"> </th>
                <th> <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example"> </th>
            </tr>
            
        </table> 

    </div>
    
     
</section>        
{% endblock %}
