{% extends 'side_bar.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
    body {
        margin: 0px;
    }

    .my-container {
        border: 0px solid green;
    }

    .my-row {
        border: 0px solid gray;
    }

    .my-col {
        margin: 1px;
        padding: 20px;
        width: 50vh;
        height: 100vh;
        border: 2px rgba(248, 63, 7, 0.904);
    }

    .hold {
        border:1px solid red;
        border-radius: 5px;
    }

    .dashed {
        background: rgba(27, 26, 27, 0.384);
        border-style: dashed;
    }

    .hide {
        border: none;
    }

    #p1 {
        padding: 5px;
        border: 1px solid black;
        text-align: left;

    }
    #p1:hover  {
       border:1px solid #0077ff;
        
    }

    .pstyle{
        background-color:#FFFFFF; 
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
    }
    .sstyle{
        float:right;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
    }
    a{
        color: black;
    }
    .rating {
        width: 50px;
        margin: 0 auto 1em;
        font-size: 20px;
        overflow: hidden;
    }

    g label:hover~label,
    .rating input:focus~label,
    .rating label:hover,
    .rating a:hover,
    .rating a:hover~a,
    .rating a:focus,
    .rating a:focus~a {
        color: orange;
        cursor: pointer;
    }

    .rating2 {
        direction: rtl;
    }

    .rating2 a {
        float: none
    }
    .rating input {
        float: right;
        opacity: 0;
        position: absolute;
    }

    .rating a,
    .rating label {
        float: right;
        color: #aaa;
        text-decoration: none;
        -webkit-transition: color .4s;
        -moz-transition: color .4s;
        -o-transition: color .4s;
        transition: color .4s;
    }
     
    .choice{
        width: 250px;
        height: 90%;
        min-height: 500px;
        padding: 20px;
        margin: 10px;
        background: #fafafa;
        box-sizing: border-box;
    }
    .choice1{
        width: 250px;
        height: 90%;
        padding: 20px;
        margin: 10px;
        background: #fafafa;
        box-sizing: border-box;
    }
    p{
        background: white;
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
        color:black;
        font-weight: bold;
    } 
    .checked{
        color: orange;
    }
    a:link {
  text-decoration: none;
}

a{
    color: black;
}
</style>

<h4>Pipeline</h4>
<div class="m-2">
    <a href="{% url 'pipeline_add' %}"><button class="btn btn-primary">Create</button></a>
</div>

<div class="row" style="padding-left: 1rem;">
    <div class="col-md-12">
        <div class="row">
            <div class="choice1 pstyle">New <a href="{% url 'pipeline_add' %}"> <span class="sstyle">+</span> </a> </div>
            <div class="choice1 pstyle">Qualified <a href="{% url 'pipeline_add' %}"> <span class="sstyle">+</span></a></div>
            <div class="choice1 pstyle">Proposition <a href="{% url 'pipeline_add' %}"><span class="sstyle">+</span></a></div>
            <div class="choice1 pstyle">Won <a href="{% url 'pipeline_add' %}"><span class="sstyle">+</span></a></div>
        </div>
    </div>
   
</div>

<div class="row" id="main" style="padding-left: 1rem;">
    <div class="col-md-12">
        <div class="row">
            <div class="choice" id="New" ondrop="statusChange(id)">  
                {% for i in data %} 
                    <a href="{% url 'pipeline_edit' %}?id={{i.id}}"> 
                        {%  if i.status == "New" %}    
                    <p draggable="true" id="{{i.id}}" ondragend="showValue(id)">
                        <input type="hidden" id="new" value="{{i.id}}">
                        <span> <strong>{{i.opportunity}}</strong></span><br>
                        <span>{{i.expected_revenue}}</span><br>
                        <span>{{i.contact}}</span> <br>
                        {% if i.rating == '1' %} 
                           <span style="float:left;"> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"> </span>
                                <span class="fa fa-star"> </span> 
                            </span> <br>    
                            {% elif i.rating == '2' %}
                            <span style="float:left;"> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"> </span>
                                <span class="fa fa-star"> </span> 
                            </span> <br> 
                            {% else %} 
                            <span style="float:left;"> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"> </span>
                                <span class="fa fa-star checked"> </span> 
                            </span> <br> 
                        {% endif %}    
                    </p>
                    {%  endif %}
                </a> 
                {% endfor %}
            </div>
            
            <div class="choice" id="Qualified" ondrop="statusChange(id)">
                {% for i in data %} 
                    <a href="{% url 'pipeline_edit' %}?id={{i.id}}"> 
                        {%  if i.status == "Qualified" %}    
                    <p draggable="true" id="{{i.id}}" ondragend="showValue(id)">
                        <input type="hidden" id="qualified" value="{{i.id}}">
                        <span> <strong>{{i.opportunity}}</strong></span><br>
                        <span>{{i.expected_revenue}}</span><br>
                        <span>{{i.contact}}</span> <br>
                        {% if i.rating == '1' %} 
                           <span style="float:left;"> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"> </span>
                                <span class="fa fa-star"> </span> 
                            </span> <br>    
                            {% elif i.rating == '2' %}
                            <span style="float:left;"> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"> </span>
                                <span class="fa fa-star"> </span> 
                            </span> <br> 
                            {% else %} 
                            <span style="float:left;"> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"> </span>
                                <span class="fa fa-star checked"> </span> 
                            </span> <br> 
                        {% endif %}    
                    </p>
                    {%  endif %}
                </a> 
                {% endfor %}
            </div>
            <div class="choice" id="Propostion" ondrop="statusChange(id)">
                {% for i in data %} 
                    <a href="{% url 'pipeline_edit' %}?id={{i.id}}"> 
                        {%  if i.status == "Propostion" %}    
                    <p draggable="true" id="{{i.id}}" ondragend="showValue(id)">
                        <input type="hidden" id="propostion" value="{{i.id}}">
                        <span> <strong>{{i.opportunity}}</strong></span><br>
                        <span>{{i.expected_revenue}}</span><br>
                        <span>{{i.contact}}</span> <br>
                        {% if i.rating == '1' %} 
                           <span style="float:left;"> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"> </span>
                                <span class="fa fa-star"> </span> 
                            </span> <br>    
                            {% elif i.rating == '2' %}
                            <span style="float:left;"> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"> </span>
                                <span class="fa fa-star"> </span> 
                            </span> <br> 
                            {% else %} 
                            <span style="float:left;"> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"> </span>
                                <span class="fa fa-star checked"> </span> 
                            </span> <br> 
                        {% endif %}    
                    </p>
                    {%  endif %}
                </a> 
                {% endfor %}
            </div>
            <div class="choice" id="Won" ondrop="statusChange(id)">
                {% for i in data %} 
                    <a href="{% url 'pipeline_edit' %}?id={{i.id}}"> 
                        {%  if i.status == "Won" %}    
                    <p draggable="true" id="{{i.id}}" ondragend="showValue(id)">
                        <input type="hidden" id="won" value="{{i.id}}">
                        <span> <strong>{{i.opportunity}}</strong></span><br>
                        <span>{{i.expected_revenue}}</span><br>
                        <span>{{i.contact}}</span> <br>
                        {% if i.rating == '1' %} 
                           <span style="float:left;"> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"> </span>
                                <span class="fa fa-star"> </span> 
                            </span> <br>    
                            {% elif i.rating == '2' %}
                            <span style="float:left;"> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"> </span>
                                <span class="fa fa-star"> </span> 
                            </span> <br> 
                            {% else %} 
                            <span style="float:left;"> 
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"> </span>
                                <span class="fa fa-star checked"> </span> 
                            </span> <br> 
                        {% endif %}    
                    </p>
                    {%  endif %}
                </a> 
                {% endfor %}
            </div>
        </div>
    </div>
</div> 

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    var p = document.getElementsByTagName('p');
    var choice = document.getElementsByClassName('choice');
    var dragItem = null;
    
    for(var i of p){
        i.addEventListener('dragstart', dragStart);
        i.addEventListener('dragend', dragEnd);
    }

    function dragStart(){
        dragItem = this;
        setTimeout(()=>this.style.display = 'none', 0);
    }

    function dragEnd(){
        setTimeout(()=>this.style.display = 'block', 0);
        dragItem = null;
    }

    for(j of choice){
        j.addEventListener('dragover', dragOver);
        j.addEventListener('dragenter', dragEnter);
        j.addEventListener('dragleave', dragLeave);
        j.addEventListener('drop', Drop);
    } 

    function Drop(ev){
        this.append(dragItem);
        // ev.dataTransfer.setData("text", ev.currentTarget.id.value);
        // alert(ev.currentTarget.id.value);
    }
    function dragOver(e){
        e.preventDefault();
        this.style.border = "2px solid cyan";
    }
    function dragEnter(e){
        e.preventDefault();
    }
    function dragLeave(){
        this.style.border = "none";
    }

    var status;
    function statusChange(id){
        status = id;
        // alert(status)
    }
    function showValue(id){
    // alert(id)
    value_1 = id;
    console.log("VALUE", value_1)
    console.log("STATUS", status)
    $.ajax({
    url: "/change_pipeline_status/",
    method: "GET",
    data: { value_1: value_1, status: status },
    dataType: "json",
    })

    .done(function (data) {
    console.log("Yashwant", data)
    location.reload(); 
    // $('#main').load(document.URL +  ' #main');                                                                    
                                        
    });
 };

</script>

<!-- <span class="rating rating2">
    <a href="#3" title="Give 3 stars" data-value="3">★</a>
    <a href="#2" title="Give 2 stars" data-value="2">★</a>
    <a href="#1" title="Give 1 star" data-value="1">★</a>
</span> -->

{% endblock %}